# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

public/media/*
!/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# Content
# ---------------

/content/*



# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/storage/site/cache/*
!/storage/site/cache/index.html

# Accounts
# ---------------

/storage/site/accounts/*
!/storage/site/accounts/index.html

# Sessions
# ---------------

/storage/site/sessions/*
!/storage/site/sessions/index.html

# License
# ---------------

/site/config/.license
