# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

public/media/*
!/media/index.html



# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# Content
# ---------------

/content/*



# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/storage/cache/*
!/storage/cache/index.html

# Accounts
# ---------------

/storage/accounts/*
!/storage/accounts/index.html

# Sessions
# ---------------

/storage/sessions/*
!/storage/sessions/index.html

# License
# ---------------

/site/config/.license
