{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"printWidth": 200,
	"vueIndentScriptAndStyle": true,
	"singleAttributePerLine": true,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
